.foto-grid {
	flex-wrap: wrap;
	width: 1140px;
	margin: 0 auto;
	// margin-right: -20px;
	// margin-left: -20px;
	
	&__item {
		display: inline-block;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
		margin-top: 20px;
		background-color: #48bf72;
		overflow: hidden;
		border-radius: 9px;
	}

	// &__item:hover {
	// 	background-color: rgba(90, 197, 128, 0.5);
	// }
}

.foto-grid__item--1 {
	// width: 450px;
	width: calc(39.47368% - 40px);
	height: 302px;
	background: url('../img/grid-item-1.jpg');

	
}

.foto-grid__item--2 {
	width: calc(57.01754% - 40px);
	height: 438px;
	background: url('../img/grid-item-2.jpg');
}

.foto-grid__item--3 {
	width: calc(39.47368% - 40px);
	height: 488px;
	background: url('../img/grid-item-3.jpg') 50%;
	background-repeat: no-repeat;
}

.foto-grid__item--4 {
	width: calc(57.01754% - 40px);
	height: 350px;
	background: url('../img/grid-item-4.jpg');
}

 p {
  opacity: 0;
  // font-size: 30px;
  // font-weight: 700;
  // font-family: 'Segoe UI';
  // line-height: 300px;
  text-align: center;
  color: #fff;
  transition: .5s ease;
  width: inherit;
  height: inherit;
}

div:hover p {
  opacity: 1;
  background: rgba(90, 197, 128, 0.5);
  cursor: pointer; }